aws_access_key = "AWSAccessKeyId=AKIAJ3G6CSXYUM5652GQ"

aws_secret_key = "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"

key_name = "jenkinskey"

private_key_path = "/Users/saziyamukadam/Downloads\jenkinskey.pem"
